<div class="card-container">
    <h2><strong>Resultados<span>( {{appService.getProductData()? appService.getProductData()?.totalElements : 0}} )</span></strong></h2>
    <div class="cards animate__animated animate__pulse">
        <div class="product-card" *ngFor="let data of appService.getProducts()">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="//{{data.image}}" alt="{{data.brand}}"/>
            </div>
            <div class="product-details">
                <span class="product-catagory">ID: {{data.id}}</span>
                <h4>{{data.brand}}</h4>
                <p>{{data.description}}</p>
                <div class="product-bottom-details">
                    <div class="product-price">
                        <small *ngIf="isPalindrome(data.brand) || isPalindrome(data.description)">${{addPoint(realPrice(data.price))}}</small>${{addPoint(data.price)}}
                    </div>
                </div>
                <div class="chip" *ngIf="isPalindrome(data.brand) || isPalindrome(data.description)">50%</div>
            </div>
        </div>
    </div>
</div>