for i in (abs absolute) ( rel relative ) ( fix fixed )
    .{ i[ 0 ] }
        position i[ 1 ]

for j in ( i inline ) ( ib inline-block ) ( b block ) ( n none ) ( f flex ) ( 'if' inline-flex ) ( g grid ) ( ig inline-grid )
    .d{ j[ 0 ] }
        display j[ 1 ]

.vm
    vertical-align middle

// ====================================

$body-bg = #24282f
$body-bg2 = #005eff

// ====================================

body
    background $body-bg
    font-family 'Alegreya Sans'

h2
    @extends .rel, .vm
    padding 10px
    padding-left 25px
    color #ccc
    margin 0

    strong
        @extends .vm, .rel
        z-index 2
        background $body-bg
        padding 4px 8px

    span
        @extends .vm
        font-size .7em
        color #aaa
        margin-left 10px

    &:after
        @extends .abs
        content ''
        z-index 1
        bottom 50%
        margin-bottom -2px
        height 2px
        left 0
        right 0
        background lighten( $body-bg, 10% )


.cards
    @extends .df
    flex-flow row wrap

    .card
        @extends .rel
        margin-top 20px
        margin-right: 10px
        //Cambiar el tamaño de la carta
        width 230px
        height 350px
        overflow hidden
        box-shadow 0 5px 10px rgba( #000, .8 )
        transform-origin center top
        transform-style preserve-3d
        transform translateZ( 0 )
        transition .3s
        min-width 200px

        img
            width 100%
            min-height 100%

        figcaption
            @extends .abs
            bottom 0
            left 0
            right 0
            padding 20px
            padding-bottom 10px
            font-size 20px
            background rgba( $body-bg2 )
            color #fff
            //text-shadow 0 1px 0 rgba( #000, .3 )
            // background linear-gradient( to top, rgba( #000, .9 ), transparent )
            transform translateY( 100% )
            transition .3s

        &:after
            @extends .abs
            content ''
            z-index 10
            width 200%
            height 100%
            top -90%
            left -20px
            opacity .1
            transform rotate( 45deg )
            background linear-gradient( to top, transparent, #fff 15%, rgba( #fff, .5 ) )
            transition .3s

        // :focus and :active just added for a some android versions to simulate hover effect
        &:hover, &:focus, &:active
            box-shadow 0 8px 16px 3px rgba( #000, .6 )
            transform translateY( -3px ) scale( 1.05 ) rotateX( 15deg )

            figcaption
                transform none

            &:after
                transform rotate( 25deg )
                top -40%
                opacity .15